extend pugComponents/plantilla.pug
block contenidos
    section.description
        include pugComponents/sideMenu.pug 
        .description__article
                h2= titulos[0] 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem deserunt recusandae cupiditate eos magnam perferendis, fuga cum exercitationem atque nostrum, nesciunt minus doloremque sequi fugit similique, id ipsum expedita eveniet repudiandae. Possimus illo tempore accusantium.
                 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem deserunt recusandae cupiditate eos magnam perferendis, fuga cum exercitationem atque nostrum, nesciunt minus doloremque sequi fugit similique, id ipsum expedita eveniet repudiandae. Possimus illo tempore accusantium.
                a.boton Ver más